body{
margin: 0;
background-color: lightyellow;
font-family: 'Mukta', sans-serif;
}
.card{
    margin: 10;
}
.card .card-body{
    background-color: black;
    color: white;
    font-size: larger;
}
h3{
    font-size: 20px;
}