<nav class="navbar navbar-inverse" role="navigation">
    <a href="/"class="navbar-brand">Home</a>
    <a class="navbar-brand">News</a>
    <form class="navbar-form navbar-left">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>
  <!-- <div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> News </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">News
                <li><a href="/">Home</a></li>
        </div>
        <div class="navbar navbar-light bg-light">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </div>
</div> -->