{% extends 'base.html'%}
<div class="container-fluid landing">
    <div class="row">
{% block content %}
    {% for source in source %}
    <div class="col-md-4">
    <div class="card">
        <a href={{source.url}} style="text-decoration: none; color: black;">
        <h1 class="card-title">{{source.name}}</h1>
        </a>
    <div class="card-body">
      <h5 class="card-text" style="text-decoration: none;">{{source.description}}</h5>
  </div>
  <div class="card-footer">
    <small class="text-muted">Country: {{source.country}}</small>
  </div>
    </div>
    </div>
{% endfor %}
    </div>
</div>
{% endblock %}